@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

#page{
    overflow-wrap: hidden;
}

#sidebar {
    min-height: 100vh;
    margin-left: 0;
    width: 15rem;
    -webkit-transition: margin 0.25s ease-out ;
    -moz-transition: margin 0.25s ease-out ;
    -o-transition: margin 0.25s ease-out ;
    transition: margin 0.25s ease-out ;
}

#sidebar header {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page.toggled #sidebar{
    margin-left: -15rem;
}

#page-content{
    min-width: 0;
    width: 100%;
}

img{
    width: 250px;
    height: 350px;
    transition: 300ms ease-in-out
}


.botao-foto:hover img{
    transform: scale(1.05);
    opacity: 0.5;
}

.botao-foto:hover .btn-excluir{
    transform: scale(1.05);
}

.botao-foto:hover .btn-excluir{
    opacity: 1;
}

.botao-foto:hover .btn-trailer{
    opacity: 1;
    transform: scale(1.05);
}

.botao-foto{
    max-width: 300px;
}

.btn-excluir{
    transition: 300ms ease-in-out;
    opacity: 0;
    position: relative;
    /*top: 102.5%;*/
    top: 48%;
    left: 32.5%;
    bottom: 50%;
    z-index: 1;
}

.btn-trailer{
    transition: 300ms ease-in-out;
    opacity: 0;
    position: relative;
    left: 8.6%;
    top: 60%;
    z-index: 1;
}

#loginLogo img{
    width: 70%;
}

.botao-foto{
    width: fit-content;
}

